# email and password to send the email to users
EMAIL_USER = YOUR EMAIL ADDRESS
EMAIL_PASS = YOUR PASSWORD

# database url to store the data
DATABASE_URL = YOUR DATABASE URL

#secret key and algorithm to keep the user id and password safe
SECRET_KEY = YOUR SECRET KEY
ALGORITHM = YOUR ALGORITHM
